* {
    margin: 0px;
    padding: 0px;
}

/* animations */
.area{
    width: 100%;
    height:131vh;
    background-image: linear-gradient(45deg, rgb(240, 99, 99) 0%, rgb(240, 99, 99) 11%,rgb(230, 115, 107) 11%, rgb(230, 115, 107) 24%,rgb(220, 132, 114) 24%, rgb(220, 132, 114) 29%,rgb(210, 148, 122) 29%, rgb(210, 148, 122) 45%,rgb(199, 164, 129) 45%, rgb(199, 164, 129) 87%,rgb(189, 181, 137) 87%, rgb(189, 181, 137) 90%,rgb(179, 197, 144) 90%, rgb(179, 197, 144) 100%),linear-gradient(67.5deg, rgb(240, 99, 99) 0%, rgb(240, 99, 99) 11%,rgb(230, 115, 107) 11%, rgb(230, 115, 107) 24%,rgb(220, 132, 114) 24%, rgb(220, 132, 114) 29%,rgb(210, 148, 122) 29%, rgb(210, 148, 122) 45%,rgb(199, 164, 129) 45%, rgb(199, 164, 129) 87%,rgb(189, 181, 137) 87%, rgb(189, 181, 137) 90%,rgb(179, 197, 144) 90%, rgb(179, 197, 144) 100%),linear-gradient(135deg, rgb(240, 99, 99) 0%, rgb(240, 99, 99) 11%,rgb(230, 115, 107) 11%, rgb(230, 115, 107) 24%,rgb(220, 132, 114) 24%, rgb(220, 132, 114) 29%,rgb(210, 148, 122) 29%, rgb(210, 148, 122) 45%,rgb(199, 164, 129) 45%, rgb(199, 164, 129) 87%,rgb(189, 181, 137) 87%, rgb(189, 181, 137) 90%,rgb(179, 197, 144) 90%, rgb(179, 197, 144) 100%),linear-gradient(90deg, rgb(156, 174, 7),rgb(129, 53, 44)); background-blend-mode:overlay,overlay,overlay,normal;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 131vh;
    overflow: hidden;
    pointer-events: none;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: none;
    font-size: 50px;
    animation: animate 10s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* form Style */

.container {
    margin-top: 25px;
}
.btn {
    margin-top: 25px;
}

h1 {
    margin-bottom: 35px;
}
#formBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Sora', sans-serif;
}

.formContainer {
    width: 65%;
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
    padding: 2em;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50px;
}

.formGroup {
    margin-bottom: 1em;
    transition: all .3s ease;
}

.formLabel {
    font-size:1em;
    color: gray;
    display: block;
    transform: translateY(-2.25em);
    transform-origin: 0 0;
    transition: all .3s ease;
    pointer-events: none;
}

.formInput {
    box-shadow: none;
    background-color:rgba(0,0,0,.03);
    border-radius: 0px;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    transition: all .5s ease;
    padding: 5px;
}

.formInput::placeholder {
    color: transparent;
}

.formInput:focus {
    box-shadow: none;
    outline: none;
    border-color: gold;
}


.formInput:focus + .formLabel,
.formInput:not(:placeholder-shown) + .formLabel {
    transform: translateY(-3em) scale(0.8);
}

.formGroup:focus-within {
    transform: scale(1.02,1.02);
}


@media only screen and (max-width:500px) {
    .formLabel {
        font-size: 0.7rem;
    }
    .formContainer {
        width: 80%;
    }
    .area {
        height: 161vh;
    }
    .circles {
        height: 161vh;
    }
}